In [1]:
import sys
import os

# Add parent directory to sys path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), os.pardir)))

In [2]:
import pandas as pd
import numpy as np

from pathlib import Path

In [3]:
datasets = Path("./datasets")

df = pd.read_csv(datasets/"Tayko.csv")

In [4]:
df.head()

,sequence_number,US,source_a,source_c,source_b,source_d,source_e,source_m,source_o,source_h,...,source_x,source_w,Freq,last_update_days_ago,1st_update_days_ago,Web order,Gender=male,Address_is_res,Purchase,Spending
0,1,1,0,0,1,0,0,0,0,0,...,0,0,2,3662,3662,1,0,1,1,128
1,2,1,0,0,0,0,1,0,0,0,...,0,0,0,2900,2900,1,1,0,0,0
2,3,1,0,0,0,0,0,0,0,0,...,0,0,2,3883,3914,0,0,0,1,127
3,4,1,0,1,0,0,0,0,0,0,...,0,0,1,829,829,0,1,0,0,0
4,5,1,0,1,0,0,0,0,0,0,...,0,0,1,869,869,0,0,0,0,0

In [5]:
import jcds.Quality as jq

In [6]:
jq.dqr_cat(df)

This dataset does not have any categorical columns.

In [7]:
jq.dqr_cont(df)

The non-categorical features are:
['sequence_number', 'US', 'source_a', 'source_c', 'source_b', 'source_d', 'source_e', 'source_m', 'source_o', 'source_h', 'source_r', 'source_s', 'source_t', 'source_u', 'source_p', 'source_x', 'source_w', 'Freq', 'last_update_days_ago', '1st_update_days_ago', 'Web order', 'Gender=male', 'Address_is_res', 'Purchase', 'Spending']
Data Quality for Continous Features
Total Features: 25
                 Feature  Count  Missing  % missing  Cardinality
0        sequence_number   2000        0        0.0         2000
1                     US   2000        0        0.0            2
2               source_a   2000        0        0.0            2
3               source_c   2000        0        0.0            2
4               source_b   2000        0        0.0            2
5               source_d   2000        0        0.0            2
6               source_e   2000        0        0.0            2
7               source_m   2000        0        0.0            2
8               source_o   2000        0        0.0            2
9               source_h   2000        0        0.0            2
10              source_r   2000        0        0.0            2
11              source_s   2000        0        0.0            2
12              source_t   2000        0        0.0            2
13              source_u   2000        0        0.0            2
14              source_p   2000        0        0.0            2
15              source_x   2000        0        0.0            2
16              source_w   2000        0        0.0            2
17                  Freq   2000        0        0.0           15
18  last_update_days_ago   2000        0        0.0          940
19   1st_update_days_ago   2000        0        0.0          923
20             Web order   2000        0        0.0            2
21           Gender=male   2000        0        0.0            2
22        Address_is_res   2000        0        0.0            2
23              Purchase   2000        0        0.0            2
24              Spending   2000        0        0.0          363


Descriptive Stats
                       count     mean      std  min      25%     50%      75%  \
sequence_number       2000.0  1000.50   577.49  1.0   500.75  1000.5  1500.25
US                    2000.0     0.82     0.38  0.0     1.00     1.0     1.00
source_a              2000.0     0.13     0.33  0.0     0.00     0.0     0.00
source_c              2000.0     0.06     0.23  0.0     0.00     0.0     0.00
source_b              2000.0     0.06     0.24  0.0     0.00     0.0     0.00
source_d              2000.0     0.04     0.20  0.0     0.00     0.0     0.00
source_e              2000.0     0.15     0.36  0.0     0.00     0.0     0.00
source_m              2000.0     0.02     0.13  0.0     0.00     0.0     0.00
source_o              2000.0     0.03     0.18  0.0     0.00     0.0     0.00
source_h              2000.0     0.05     0.22  0.0     0.00     0.0     0.00
source_r              2000.0     0.07     0.25  0.0     0.00     0.0     0.00
source_s              2000.0     0.05     0.21  0.0     0.00     0.0     0.00
source_t              2000.0     0.02     0.15  0.0     0.00     0.0     0.00
source_u              2000.0     0.12     0.32  0.0     0.00     0.0     0.00
source_p              2000.0     0.01     0.08  0.0     0.00     0.0     0.00
source_x              2000.0     0.02     0.13  0.0     0.00     0.0     0.00
source_w              2000.0     0.14     0.34  0.0     0.00     0.0     0.00
Freq                  2000.0     1.42     1.41  0.0     1.00     1.0     2.00
last_update_days_ago  2000.0  2155.10  1141.30  1.0  1133.00  2280.0  3139.25
1st_update_days_ago   2000.0  2435.60  1077.87  1.0  1671.25  2721.0  3353.00
Web order             2000.0     0.43     0.49  0.0     0.00     0.0     1.00
Gender=male           2000.0     0.52     0.50  0.0     0.00     1.0     1.00
Address_is_res        2000.0     0.22     0.42  0.0     0.00     0.0     0.00
Purchase              2000.0     0.50     0.50  0.0     0.00     0.5     1.00
Spending              2000.0   102.62   186.78  0.0     0.00     2.0   153.00

                         max
sequence_number       2000.0
US                       1.0
source_a                 1.0
source_c                 1.0
source_b                 1.0
source_d                 1.0
source_e                 1.0
source_m                 1.0
source_o                 1.0
source_h                 1.0
source_r                 1.0
source_s                 1.0
source_t                 1.0
source_u                 1.0
source_p                 1.0
source_x                 1.0
source_w                 1.0
Freq                    15.0
last_update_days_ago  4188.0
1st_update_days_ago   4188.0
Web order                1.0
Gender=male              1.0
Address_is_res           1.0
Purchase                 1.0
Spending              1500.0