In [1]:
# 📓 JCDS Live Function Testing Notebook
# File: tests/notebooks/dev_test_functions.ipynb

In [2]:
# ----------------------------------------------------------------------------
# 🧼 Notes
# ----------------------------------------------------------------------------
# - This notebook uses `%autoreload 2` to automatically reload all updated modules.
# - You can call any function from your library here to test live edits.
# - This notebook lives in tests/notebooks/ for organized dev use.
# - You can copy this structure for testing other modules as needed.

In [3]:
# ----------------------------------------------------------------------------
# 🧪 Load Sample Dataset (Titanic from Seaborn)
# ----------------------------------------------------------------------------
import seaborn as sns
import pandas as pd

df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
# ----------------------------------------------------------------------------
# 🔁 Autoreload Extension Setup
# ----------------------------------------------------------------------------
%load_ext autoreload
# Automatically reload all modules before executing cells
%autoreload 2

In [5]:
# ----------------------------------------------------------------------------
# 📦 Import Local Library Modules
# ----------------------------------------------------------------------------
import jcds.eda as jeda
import jcds.reports as jrep

In [52]:
# ----------------------------------------------------------------------------
# 🚀 Run Function to Test Live Edits
# ----------------------------------------------------------------------------
# Edit your jcds functions and save the .py file. Then re-run this cell.

jrep.data_cardinality(
    df, show_columns=True
)  # Replace or duplicate this cell for any function you want to test.

CARDINALITY REPORT

Total columns analyzed: 15

[BINARY COLUMNS]
There are 5 binary columns.
 * Columns: ['survived', 'sex', 'adult_male', 'alive', 'alone']
There are 0 binary with nan.

[CONSTANT/NEAR CONSTANT COLUMNS]
There are 0 constant columns.
There are 0 near-constant columns with >= 95% of values being the same.

LOW CARDINALITY CATEGORICAL COLUMNS]
 * There are 7 low cardinality columns with <= 10 unique values.
Columns:
 * sex: 2 unique values
 * embarked: 3 unique values
 * class: 3 unique values
 * who: 3 unique values
 * deck: 7 unique values
 * embark_town: 3 unique values
 * alive: 2 unique values

[HIGH CARDINALITY CATEGORICAL COLUMNS]
 * There are 0 high cardinality variables with >=90% unique values.

In [51]:
jrep.data_card2(df, show_columns=True)

CARDINALITY REPORT

-- BINARY COLUMNS --
There are 5 binary columns.
 • Columns: ['survived', 'sex', 'adult_male', 'alive', 'alone']
There are 0 binary with nan.

-- CONSTANT VARIABLES --
There are 0 constant columns.

-- LOW CARDINALITY CATEGORICAL --
Found 7 categorical variables with ≤ 10 unique values.
 • sex: 2 unique values
 • embarked: 3 unique values
 • class: 3 unique values
 • who: 3 unique values
 • deck: 7 unique values
 • embark_town: 3 unique values
 • alive: 2 unique values

-- HIGH CARDINALITY CATEGORICAL --
Found 0 categorical variables with ≥ 90% unique values.

In [25]:
jrep.data_info(df, show_columns=True)

SHAPE:
There are 891 rows and 15 columns (0.31 MB).

DUPLICATES:
There are 107 duplicated rows.

COLUMNS/VARIABLES:
Column dType Summary:
 * object: 5
 * int: 4
 * float: 2
 * bool: 2
 * category: 2
There are 8 numerical (int/float/bool) variables.
 * Columns: ['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare', 'adult_male', 'alone']
There are 7 categorical (nominal/ordinal) variables.
 * Columns: ['sex', 'embarked', 'class', 'who', 'deck', 'embark_town', 'alive']

DATETIME COLUMNS:
There are 0 datetime variables and 0 possible datetime variables.

OTHER COLUMN/VARIABLE INFO:
ID Like Columns (threshold = 95.0%): 0
Columns with mixed datatypes: 3
 * Columns: ['embarked', 'deck', 'embark_town']