In [2]:
# ðŸ““ JCDS Live Function Testing Notebook
# File: tests/notebooks/dev_test_functions.ipynb

In [3]:
# ----------------------------------------------------------------------------
# ðŸ§¼ Notes
# ----------------------------------------------------------------------------
# - This notebook uses `%autoreload 2` to automatically reload all updated modules.
# - You can call any function from your library here to test live edits.
# - This notebook lives in tests/notebooks/ for organized dev use.
# - You can copy this structure for testing other modules as needed.

In [4]:
# ----------------------------------------------------------------------------
# ðŸ§ª Load Sample Dataset (Titanic from Seaborn)
# ----------------------------------------------------------------------------
import seaborn as sns
import pandas as pd

df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
# ----------------------------------------------------------------------------
# ðŸ” Autoreload Extension Setup
# ----------------------------------------------------------------------------
%load_ext autoreload
# Automatically reload all modules before executing cells
%autoreload 2

In [6]:
# ----------------------------------------------------------------------------
# ðŸ“¦ Import Local Library Modules
# ----------------------------------------------------------------------------
import jcds.eda as jeda
import jcds.reports as jrep

In [63]:
# ----------------------------------------------------------------------------
# ðŸš€ Run Function to Test Live Edits
# ----------------------------------------------------------------------------
# Edit your jcds functions and save the .py file. Then re-run this cell.

jrep.data_quality(
    df, show_columns=True
)  # Replace or duplicate this cell for any function you want to test.

DATA QUALITY REPORT
====================

 * Total entries (rows * cols): 13365
 * Memory usage: 0.31 MB
 * Rows: 891
 * Columns: 15

MISSING DATA:
 * Total entries: 869 missing (6.5%)

ROWS:
 * Rows missing any: 709
 * Rows missing all: 0

DUPLICATES: 107

COLUMNS:
Columns missing any: 4
	deck: 688 missing (77.2%)
	age: 177 missing (19.9%)
	embarked: 2 missing (0.2%)
	embark_town: 2 missing (0.2%)
Column list: ['deck', 'age', 'embarked', 'embark_town']

CONSTANT: 0

NEAR CONSTANT: 0
	(95% of values are the same)

MIXED DATATYPES: 3
Column list: ['embarked', 'deck', 'embark_town']

In [60]:
jrep.data_cardinality(df, show_columns=True)

CARDINALITY REPORT

Total columns analyzed: 15

[BINARY COLUMNS]
There are 5 binary columns.
 * Columns: ['survived', 'sex', 'adult_male', 'alive', 'alone']
There are 0 binary with nan.

[CONSTANT/NEAR CONSTANT COLUMNS]
There are 0 constant columns.
There are 0 near-constant columns with >= 95% of values being the same.

[LOW CARDINALITY CATEGORICAL COLUMNS]
 * There are 7 low cardinality columns with <= 10 unique values.
Columns:
 * sex: 2 unique values
 * embarked: 3 unique values
 * class: 3 unique values
 * who: 3 unique values
 * deck: 7 unique values
 * embark_town: 3 unique values
 * alive: 2 unique values

[HIGH CARDINALITY CATEGORICAL COLUMNS]
 * There are 0 high cardinality variables with >=90% unique values.