In [7]:
# ðŸ““ JCDS Live Function Testing Notebook
# File: tests/notebooks/dev_test_functions.ipynb

In [8]:
# ----------------------------------------------------------------------------
# ðŸ§¼ Notes
# ----------------------------------------------------------------------------
# - This notebook uses `%autoreload 2` to automatically reload all updated modules.
# - You can call any function from your library here to test live edits.
# - This notebook lives in tests/notebooks/ for organized dev use.
# - You can copy this structure for testing other modules as needed.

In [9]:
# ----------------------------------------------------------------------------
# ðŸ§ª Load Sample Dataset (Titanic from Seaborn)
# ----------------------------------------------------------------------------
import seaborn as sns
import pandas as pd

df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [10]:
# ----------------------------------------------------------------------------
# ðŸ” Autoreload Extension Setup
# ----------------------------------------------------------------------------
%load_ext autoreload
# Automatically reload all modules before executing cells
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
# ----------------------------------------------------------------------------
# ðŸ“¦ Import Local Library Modules
# ----------------------------------------------------------------------------
import jcds.eda as jeda
import jcds.reports as jrep

In [16]:
# ----------------------------------------------------------------------------
# ðŸš€ Run Function to Test Live Edits
# ----------------------------------------------------------------------------
# Edit your jcds functions and save the .py file. Then re-run this cell.

jeda.detect_outliers_iqr(
    df
)  # Replace or duplicate this cell for any function you want to test.

{'pclass': 0, 'age': 11, 'sibsp': 46, 'parch': 213, 'fare': 116}

In [17]:
jrep.data_quality(df)

DATA QUALITY REPORT
====================

 * Total entries (rows * cols): 13365
 * Memory usage: 0.31 MB
 * Rows: 891
 * Columns: 15

MISSING DATA:
 * Total entries: 869 missing (6.5%)

ROWS:
--------------------
 * Rows missing any: 709
 * Rows missing all: 0

DUPLICATES: 107

COLUMNS:
--------------------
Columns missing any: 4

CONSTANT: 0

NEAR CONSTANT: 0
	(95% of values are the same)

MIXED DATATYPES: 3

HIGH CARDINALITY: 0
	(60% >= unique values)