In [12]:
# üìì JCDS Live Function Testing Notebook
# File: tests/notebooks/dev_test_functions.ipynb

In [13]:
# ----------------------------------------------------------------------------
# üîÅ Autoreload Extension Setup
# ----------------------------------------------------------------------------
%load_ext autoreload
# Automatically reload all modules before executing cells
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [14]:
# ----------------------------------------------------------------------------
# üì¶ Import Local Library Modules
# ----------------------------------------------------------------------------
import jcds.eda as jeda
import jcds.reports as jrep

In [15]:
# ----------------------------------------------------------------------------
# üß™ Load Sample Dataset (Titanic from Seaborn)
# ----------------------------------------------------------------------------
import seaborn as sns
import pandas as pd

df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [16]:
# ----------------------------------------------------------------------------
# üöÄ Run Function to Test Live Edits
# ----------------------------------------------------------------------------
# Edit your jcds functions and save the .py file. Then re-run this cell.

jrep.data_info(df)  # Replace or duplicate this cell for any function you want to test.

SHAPE:
There are 891 rows and 15 columns (0.31 MB).

DUPLICATES:
There are 107 duplicated rows.

COLUMNS/VARIABLES:
Column dType Summary:
 * object: 5
 * int: 4
 * float: 2
 * bool: 2
 * category: 2
There are 8 numerical (int/float/bool) variables.
There are 7 categorical (nominal/ordinal) variables.

DATETIME COLUMNS:
There are 0 datetime variables and 0 possible datetime variables.

OTHER COLUMN/VARIABLE INFO:
ID Like Columns: 0
Mixed dType Columns: 3

In [7]:
# ----------------------------------------------------------------------------
# üßº Notes
# ----------------------------------------------------------------------------
# - This notebook uses `%autoreload 2` to automatically reload all updated modules.
# - You can call any function from your library here to test live edits.
# - This notebook lives in tests/notebooks/ for organized dev use.
# - You can copy this structure for testing other modules as needed.

In [10]:
jrep.data_cardinality(df, show_columns=True)

CARDINALITY:
binary_columns: 5 columns
	Columns: ['survived', 'sex', 'adult_male', 'alive', 'alone']
binary_with_nan: 0 columns
	Columns: []
Showing cat var of cardinality <= 10
	There are 7 low cardinality variables.
	Columns: [('sex', 2), ('embarked', 3), ('class', 3), ('who', 3), ('deck', 7), ('embark_town', 3), ('alive', 2)]
Showing cat var of cardinality >= 90%
	There are 0 high cardinality variables.
	Columns: []