# Example EDA Workflow with the `jcds` library

Install the library using:
    ```bash
    pip install git+https://github.com/junclemente/jcds.git`
    ```

This can be done in the command line or within the Jupyter Notebook as shown in the next cell.

In [7]:
# Install jcds library with pip
!pip install git+https://github.com/junclemente/jcds.git@reports

Collecting git+https://github.com/junclemente/jcds.git@reports
  Cloning https://github.com/junclemente/jcds.git (to revision reports) to /tmp/pip-req-build-b1szn_na
  Running command git clone --filter=blob:none --quiet https://github.com/junclemente/jcds.git /tmp/pip-req-build-b1szn_na
  Running command git checkout -b reports --track origin/reports
  Switched to a new branch 'reports'
  Branch 'reports' set up to track remote branch 'reports' from 'origin'.
  Resolved https://github.com/junclemente/jcds.git to commit 43886ed8e96ed085dc89313581c56b730e3631da
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: pandas in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (2.2.3)
Requirement already satisfied: pyarrow in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (19.0.1)
Requirement already satisfied: numpy in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (2.2.4)
Requirement already satisfied: matplotlib in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (3.10.1)
Requirement already satisfied: seaborn in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (0.13.2)
Requirement already satisfied: ipython in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (8.34.0)
Requirement already satisfied: scikit-learn in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (1.6.1)
Requirement already satisfied: requests in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (2.32.3)
Requirement already satisfied: decorator in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (5.2.1)
Requirement already satisfied: exceptiongroup in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (1.2.2)
Requirement already satisfied: jedi>=0.16 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (0.19.2)
Requirement already satisfied: matplotlib-inline in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (2.19.1)
Requirement already satisfied: stack_data in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (5.14.3)
Requirement already satisfied: typing_extensions>=4.6 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (4.13.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (24.2)
Requirement already satisfied: pillow>=8 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from pandas->jcds==0.2.2) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from pandas->jcds==0.2.2) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from requests->jcds==0.2.2) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from requests->jcds==0.2.2) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from requests->jcds==0.2.2) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from requests->jcds==0.2.2) (2025.1.31)
Requirement already satisfied: scipy>=1.6.0 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from scikit-learn->jcds==0.2.2) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from scikit-learn->jcds==0.2.2) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from scikit-learn->jcds==0.2.2) (3.6.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jedi>=0.16->ipython->jcds==0.2.2) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from pexpect>4.3->ipython->jcds==0.2.2) (0.7.0)
Requirement already satisfied: wcwidth in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->jcds==0.2.2) (0.2.13)
Requirement already satisfied: six>=1.5 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib->jcds==0.2.2) (1.17.0)
Requirement already satisfied: executing>=1.2.0 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from stack_data->ipython->jcds==0.2.2) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from stack_data->ipython->jcds==0.2.2) (3.0.0)
Requirement already satisfied: pure_eval in /home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from stack_data->ipython->jcds==0.2.2) (0.2.3)

In [8]:
import pandas as pd
import seaborn as sns

In [9]:
# import sebaorn's titanic dataset
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## Import the eda library from jcds

In [10]:
from jcds import eda as jeda

from jcds import reports as jrep

ImportError: cannot import name 'reports' from 'jcds' (/home/kajun/miniconda3/envs/jcds-dev/lib/python3.10/site-packages/jcds/__init__.py)

In [6]:
jrep.data_info(df)

NameError: name 'jrep' is not defined

In [5]:
jeda.show_shape(df)

(891, 15)

In [6]:
jeda.show_dupes(df)

np.int64(107)

In [8]:
jeda.show_catvar(df)

['sex', 'embarked', 'class', 'who', 'deck', 'embark_town', 'alive']

In [9]:
jeda.show_convar(df)

['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare', 'adult_male', 'alone']

In [10]:
jeda.show_binary_list(df)

{'binary_columns': ['survived', 'sex', 'adult_male', 'alive', 'alone'],
 'binary_with_nan': []}

In [11]:
jeda.quick_report(df)

============================================================
                  ⚠️  DEPRECATION WARNING
------------------------------------------------------------
`quick_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
============================================================

============================================
Quick Report - info(memory_usage='deep')
Total cols: 15
Rows missing all values: 0 (0.0%)
Total Rows: 891
Cols with missing values: 4 (26.67%)
Total missing values in dataset: 869
============================================

/tmp/ipykernel_26136/572483181.py:1: DeprecationWarning: `quick_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
  jeda.quick_report(df)

In [12]:
jeda.long_report(df)

============================================================
                  ⚠️  DEPRECATION WARNING
------------------------------------------------------------
`long_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
============================================================

============================================
Quick Report - info(memory_usage='deep')
Total cols: 15
Rows missing all values: 0 (0.0%)
Total Rows: 891
Cols with missing values: 4 (26.67%)
Total missing values in dataset: 869
============================================
Categorical features: 7
- sex: 2 unique values
- embarked: 4 unique values
- class: 3 unique values
- who: 3 unique values
- deck: 8 unique values
- embark_town: 4 unique values
- alive: 2 unique values
============================================
Continuous features: 8
- survived: 2 unique values
- pclass: 3 unique values
- age: 89 unique values
- sibsp: 7 unique values
- parch: 7 unique values
- fare: 248 unique values
- adult_male: 2 unique values
- alone: 2 unique values

/tmp/ipykernel_26136/777615861.py:1: DeprecationWarning: `long_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
  jeda.long_report(df)