# Example EDA Workflow with the `jcds` library

Install the library using:
    ```bash
    pip install git+https://github.com/junclemente/jcds.git`
    ```

This can be done in the command line or within the Jupyter Notebook as shown in the next cell.

### Install the `jcds` library directly from Github using `pip`: 

- From a command line:  
    ```bash
    pip install git+https://github.com/junclemente/jcds.git`
    ```  
    
- From a notebook cell:  
    ```python
    !pip install git+https://github.com/junclemente/jcds.git
    ```

In [19]:
# import standard libraries
import pandas as pd
import seaborn as sns

In [12]:
# import sebaorn's titanic dataset
df = sns.load_dataset("titanic")
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

## Import the `reports` library from jcds

In [13]:
from jcds import reports as jrep

In [14]:
jrep.data_info(df)

SHAPE:
There are 891 rows and 15 columns (0.31 MB).

DUPLICATES:
There are 107 duplicated rows.

COLUMNS/VARIABLES:
Column dType Summary:
 * object: 5
 * int: 4
 * float: 2
 * bool: 2
 * category: 2
There are 8 numerical (int/float/bool) variables.
There are 7 categorical (nominal/ordinal) variables.

DATETIME COLUMNS:
There are 0 datetime variables and 0 possible datetime variables.

OTHER COLUMN/VARIABLE INFO:
ID Like Columns: 0
Mixed dType Columns: 3

In [15]:
jrep.data_info(df, show_columns=True)

SHAPE:
There are 891 rows and 15 columns (0.31 MB).

DUPLICATES:
There are 107 duplicated rows.

COLUMNS/VARIABLES:
Column dType Summary:
 * object: 5
 * int: 4
 * float: 2
 * bool: 2
 * category: 2
There are 8 numerical (int/float/bool) variables.
	Columns: ['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare', 'adult_male', 'alone']
There are 7 categorical (nominal/ordinal) variables.
	Columns: ['sex', 'embarked', 'class', 'who', 'deck', 'embark_town', 'alive']

DATETIME COLUMNS:
There are 0 datetime variables and 0 possible datetime variables.

OTHER COLUMN/VARIABLE INFO:
ID Like Columns: 0
Mixed dType Columns: 3
	Columns: ['embarked', 'deck', 'embark_town']

## Import the eda library from jcds

In [16]:
from jcds import reports as jrep

In [17]:
jeda.show_shape(df)

NameError: name 'jeda' is not defined

In [ ]:
jeda.show_dupes(df)

np.int64(107)

In [ ]:
jeda.show_catvar(df)

['sex', 'embarked', 'class', 'who', 'deck', 'embark_town', 'alive']

In [ ]:
jeda.show_convar(df)

['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare', 'adult_male', 'alone']

In [ ]:
jeda.show_binary_list(df)

{'binary_columns': ['survived', 'sex', 'adult_male', 'alive', 'alone'],
 'binary_with_nan': []}

In [ ]:
jeda.quick_report(df)

============================================================
                  ⚠️  DEPRECATION WARNING
------------------------------------------------------------
`quick_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
============================================================

============================================
Quick Report - info(memory_usage='deep')
Total cols: 15
Rows missing all values: 0 (0.0%)
Total Rows: 891
Cols with missing values: 4 (26.67%)
Total missing values in dataset: 869
============================================

/tmp/ipykernel_86520/572483181.py:1: DeprecationWarning: `quick_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
  jeda.quick_report(df)

In [ ]:
jeda.long_report(df)

============================================================
                  ⚠️  DEPRECATION WARNING
------------------------------------------------------------
`long_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
============================================================

============================================
Quick Report - info(memory_usage='deep')
Total cols: 15
Rows missing all values: 0 (0.0%)
Total Rows: 891
Cols with missing values: 4 (26.67%)
Total missing values in dataset: 869
============================================
Categorical features: 7
- sex: 2 unique values
- embarked: 4 unique values
- class: 3 unique values
- who: 3 unique values
- deck: 8 unique values
- embark_town: 4 unique values
- alive: 2 unique values
============================================
Continuous features: 8
- survived: 2 unique values
- pclass: 3 unique values
- age: 89 unique values
- sibsp: 7 unique values
- parch: 7 unique values
- fare: 248 unique values
- adult_male: 2 unique values
- alone: 2 unique values

/tmp/ipykernel_86520/777615861.py:1: DeprecationWarning: `long_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
  jeda.long_report(df)