# Using the .help() function

In [ ]:
# Install jcds library with pip
!pip install git+https://github.com/junclemente/jcds.git

Collecting git+https://github.com/junclemente/jcds.git
  Cloning https://github.com/junclemente/jcds.git to /tmp/pip-req-build-8mw7s1et
  Running command git clone --filter=blob:none --quiet https://github.com/junclemente/jcds.git /tmp/pip-req-build-8mw7s1et
  Resolved https://github.com/junclemente/jcds.git to commit a227101aee60ac9eae430633d68ed19ff8054159
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: pandas in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (2.2.3)
Requirement already satisfied: pyarrow in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (19.0.1)
Requirement already satisfied: numpy in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (2.2.4)
Requirement already satisfied: matplotlib in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (3.10.1)
Requirement already satisfied: seaborn in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (0.13.2)
Requirement already satisfied: ipython in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (8.34.0)
Requirement already satisfied: scikit-learn in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (1.6.1)
Requirement already satisfied: requests in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jcds==0.2.2) (2.32.3)
Requirement already satisfied: decorator in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (5.2.1)
Requirement already satisfied: exceptiongroup in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (1.2.2)
Requirement already satisfied: jedi>=0.16 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (0.19.2)
Requirement already satisfied: matplotlib-inline in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (2.19.1)
Requirement already satisfied: stack_data in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (5.14.3)
Requirement already satisfied: typing_extensions>=4.6 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from ipython->jcds==0.2.2) (4.13.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (24.2)
Requirement already satisfied: pillow>=8 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from matplotlib->jcds==0.2.2) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from pandas->jcds==0.2.2) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from pandas->jcds==0.2.2) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from requests->jcds==0.2.2) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from requests->jcds==0.2.2) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from requests->jcds==0.2.2) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from requests->jcds==0.2.2) (2025.1.31)
Requirement already satisfied: scipy>=1.6.0 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from scikit-learn->jcds==0.2.2) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from scikit-learn->jcds==0.2.2) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from scikit-learn->jcds==0.2.2) (3.6.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from jedi>=0.16->ipython->jcds==0.2.2) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from pexpect>4.3->ipython->jcds==0.2.2) (0.7.0)
Requirement already satisfied: wcwidth in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->jcds==0.2.2) (0.2.13)
Requirement already satisfied: six>=1.5 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib->jcds==0.2.2) (1.17.0)
Requirement already satisfied: executing>=1.2.0 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from stack_data->ipython->jcds==0.2.2) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from stack_data->ipython->jcds==0.2.2) (3.0.0)
Requirement already satisfied: pure_eval in /home/jc/miniconda3/envs/jcds-dev/lib/python3.10/site-packages (from stack_data->ipython->jcds==0.2.2) (0.2.3)
Building wheels for collected packages: jcds
  Building wheel for jcds (pyproject.toml) ... done
  Created wheel for jcds: filename=jcds-0.2.2-py3-none-any.whl size=26359 sha256=81e75ca57c4c5fd757b315617eb3109e807290bfcb1f2cd89f4476432aaf1b9c
  Stored in directory: /tmp/pip-ephem-wheel-cache-7oncg33y/wheels/e9/23/ac/c0b17423e820bd87f94df176c872de67ff2cf323434bbbb78d
Successfully built jcds
Installing collected packages: jcds
  Attempting uninstall: jcds
    Found existing installation: jcds 0.2.1
    Uninstalling jcds-0.2.1:
      Successfully uninstalled jcds-0.2.1
Successfully installed jcds-0.2.2

In [2]:
import pandas as pd
import seaborn as sns

In [8]:
# import sebaorn's titanic dataset
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## Import the `eda` module

In [3]:
from jcds import eda as jeda

## List all available functions in the module

In [4]:
jeda.help()

Available functions in jcds:

  - count_cols_with_all_na
  - count_cols_with_any_na
  - count_rows_with_all_na
  - count_rows_with_any_na
  - count_total_na
  - count_unique_values
  - create_dt_col
  - create_dt_cols
  - display_all_col_head
  - dqr_cat
  - dqr_cont
  - get_cat_list
  - get_cont_list
  - list_unique_values
  - long_report
  - quick_report
  - rename_col
  - show_binary_list
  - show_catvar
  - show_convar
  - show_dupes
  - show_lowcardvars
  - show_shape

Use jcds.help("function_name") to see its documentation.

## Show docstring for a particular function

In [5]:
jeda.help("show_shape")

Help for 'show_shape':

Return the shape (number of rows and columns) of the given DataFrame.

Parameters
----------
dataframe : pd.DataFrame
    The input pandas DataFrame.

Returns
-------
tuple of int
    A tuple containing the number of rows and columns in the DataFrame.

In [ ]:
# use show_shape
jeda.show_shape(df)

(891, 15)

In [9]:
jeda.help("show_lowcardvars")

Help for 'show_lowcardvars':

Return a list of categorical variables with unique values less than or equal to the specified threshold.

Parameters
----------
dataframe : pd.DataFrame
    The input pandas DataFrame.
max_unique : int, optional
    The maximum number of unique values allowed for a variable to be considered low cardinality. Default is 10.

Returns
-------
list of tuple
    A list of tuples where each tuple contains the column name and the number of unique values.

In [10]:
# use show_lowcardvars
jeda.show_lowcardvars(df)

Showing cat var of cardinality <= 10

[('sex', 2),
 ('embarked', 3),
 ('class', 3),
 ('who', 3),
 ('deck', 7),
 ('embark_town', 3),
 ('alive', 2)]

In [12]:
jeda.show_lowcardvars(df, 5)

Showing cat var of cardinality <= 5

[('sex', 2),
 ('embarked', 3),
 ('class', 3),
 ('who', 3),
 ('embark_town', 3),
 ('alive', 2)]

In [14]:
jeda.help("show_binary_list")

Help for 'show_binary_list':

Identify binary columns in a DataFrame, optionally considering missing values.

Parameters
----------
dataframe : pd.DataFrame
    The input pandas DataFrame.
dropna : bool, optional
    If True, NaN values are excluded when determining binary columns. Default is True.

Returns
-------
dict
    A dictionary with two keys:
        - "binary_columns": list of column names that contain exactly two unique non-null values.
        - "binary_with_nan": list of column names that have two unique non-null values and also include NaNs.

In [18]:
binary_list = jeda.show_binary_list(df)

display(binary_list)

{'binary_columns': ['survived', 'sex', 'adult_male', 'alive', 'alone'],
 'binary_with_nan': []}

## Import the `aws` module

In [19]:
import jcds.aws as jaws

In [20]:
jaws.help()

Available functions in jcds:

  - list_s3_bucket

Use jcds.help("function_name") to see its documentation.

In [5]:
jaws.help("list_s3_bucket")

Help for 'list_s3_bucket':

List the contents (object keys) of a public Amazon S3 bucket using anonymous access.

Parameters
----------
bucket_name : str
    The name of the public S3 bucket to list contents from.

Returns
-------
None
    Prints the keys (filenames) of the objects found in the bucket.

Notes
-----
- This function uses anonymous (unsigned) access and works only with public buckets.
- Requires the `boto3` and `botocore` libraries.
- If the bucket is not public or an error occurs, an error message is printed.

## Import the jcds library

In [24]:
import jcds

Using help will list all available functions in the library.

In [25]:
jcds.help()

Available functions in jcds:

  - count_cols_with_all_na
  - count_cols_with_any_na
  - count_rows_with_all_na
  - count_rows_with_any_na
  - count_total_na
  - count_unique_values
  - create_dt_col
  - create_dt_cols
  - display_all_col_head
  - dqr_cat
  - dqr_cont
  - get_cat_list
  - get_cont_list
  - list_s3_bucket
  - list_unique_values
  - load_csv
  - load_parquet
  - long_report
  - quick_report
  - read_s3
  - rename_col
  - save_csv
  - save_parquet
  - show_binary_list
  - show_catvar
  - show_convar
  - show_dupes
  - show_lowcardvars
  - show_shape

Use jcds.help("function_name") to see its documentation.

## Show `help()` for a specific module

In [26]:
jcds.dataio.help()

Available functions in jcds:

  - load_csv
  - load_parquet
  - read_s3
  - save_csv
  - save_parquet

Use jcds.help("function_name") to see its documentation.