In [1]:
import pandas as pd
import seaborn as sns

# import library
from jcds import eda as jeda

In [2]:
# import sebaorn's titanic dataset
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
import jcds

In [4]:
jcds.eda.help()

Available functions in jcds:

  - count_cols_with_all_na
  - count_cols_with_any_na
  - count_rows_with_all_na
  - count_rows_with_any_na
  - count_total_na
  - count_unique_values
  - create_dt_col
  - create_dt_cols
  - display_all_col_head
  - dqr_cat
  - dqr_cont
  - get_cat_list
  - get_cont_list
  - list_unique_values
  - long_report
  - quick_report
  - rename_col
  - show_binary_list
  - show_catvar
  - show_convar
  - show_dupes
  - show_lowcardvars
  - show_shape

Use jcds.help("function_name") to see its documentation.

In [5]:
jeda.help()

Available functions in jcds:

  - count_cols_with_all_na
  - count_cols_with_any_na
  - count_rows_with_all_na
  - count_rows_with_any_na
  - count_total_na
  - count_unique_values
  - create_dt_col
  - create_dt_cols
  - display_all_col_head
  - dqr_cat
  - dqr_cont
  - get_cat_list
  - get_cont_list
  - list_unique_values
  - long_report
  - quick_report
  - rename_col
  - show_binary_list
  - show_catvar
  - show_convar
  - show_dupes
  - show_lowcardvars
  - show_shape

Use jcds.help("function_name") to see its documentation.

In [6]:
jeda.help("show_shape")

Help for 'show_shape':

Return the shape (number of rows and columns) of the given DataFrame.

Parameters
----------
dataframe : pd.DataFrame
    The input pandas DataFrame.

Returns
-------
tuple of int
    A tuple containing the number of rows and columns in the DataFrame.

In [7]:
jeda.quick_report(df)

============================================================
                  ⚠️  DEPRECATION WARNING
------------------------------------------------------------
`quick_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
============================================================

============================================
Quick Report - info(memory_usage='deep')
Total cols: 15
Rows missing all values: 0 (0.0%)
Total Rows: 891
Cols with missing values: 4 (26.67%)
Total missing values in dataset: 869
============================================

/tmp/ipykernel_73821/572483181.py:1: DeprecationWarning: `quick_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
  jeda.quick_report(df)

In [8]:
jeda.long_report(df)

============================================================
                  ⚠️  DEPRECATION WARNING
------------------------------------------------------------
`long_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
============================================================

============================================
Quick Report - info(memory_usage='deep')
Total cols: 15
Rows missing all values: 0 (0.0%)
Total Rows: 891
Cols with missing values: 4 (26.67%)
Total missing values in dataset: 869
============================================
Categorical features: 7
- sex: 2 unique values
- embarked: 4 unique values
- class: 3 unique values
- who: 3 unique values
- deck: 8 unique values
- embark_town: 4 unique values
- alive: 2 unique values
============================================
Continuous features: 8
- survived: 2 unique values
- pclass: 3 unique values
- age: 89 unique values
- sibsp: 7 unique values
- parch: 7 unique values
- fare: 248 unique values
- adult_male: 2 unique values
- alone: 2 unique values

/tmp/ipykernel_73821/777615861.py:1: DeprecationWarning: `long_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
  jeda.long_report(df)

In [9]:
from jcds import dataio as jio

In [10]:
jio.help()

Available functions in jcds:

  - load_csv
  - load_parquet
  - read_s3
  - save_csv
  - save_parquet

Use jcds.help("function_name") to see its documentation.

In [11]:
jio.help("load_csv")

Help for 'load_csv':

Attempt to load a CSV using multiple encodings. If all fail, preview raw bytes.

Parameters
----------
filepath : str or Path
    Path to the CSV file.
encodings : list of str, optional
    List of encodings to try. Defaults to common ones.
preview_bytes : int
    Number of bytes to show if loading fails (for debugging).
**kwargs
    Additional arguments passed to `pd.read_csv`.

Returns
-------
pd.DataFrame
    Loaded DataFrame.

Raises
------
UnicodeDecodeError
    If no encoding successfully loads the file.

Notes
-----

In [12]:
import jcds

In [13]:
jcds.help()

Available functions in jcds:

  - count_cols_with_all_na
  - count_cols_with_any_na
  - count_rows_with_all_na
  - count_rows_with_any_na
  - count_total_na
  - count_unique_values
  - create_dt_col
  - create_dt_cols
  - display_all_col_head
  - dqr_cat
  - dqr_cont
  - get_cat_list
  - get_cont_list
  - list_s3_bucket
  - list_unique_values
  - load_csv
  - load_parquet
  - long_report
  - quick_report
  - read_s3
  - rename_col
  - save_csv
  - save_parquet
  - show_binary_list
  - show_catvar
  - show_convar
  - show_dupes
  - show_lowcardvars
  - show_shape

Use jcds.help("function_name") to see its documentation.

In [14]:
jcds.eda.help("show_binary_list")

Help for 'show_binary_list':

Identify binary columns in a DataFrame, optionally considering missing values.

Parameters
----------
dataframe : pd.DataFrame
    The input pandas DataFrame.
dropna : bool, optional
    If True, NaN values are excluded when determining binary columns. Default is True.

Returns
-------
dict
    A dictionary with two keys:
        - "binary_columns": list of column names that contain exactly two unique non-null values.
        - "binary_with_nan": list of column names that have two unique non-null values and also include NaNs.

In [15]:
jcds.eda.help()

Available functions in jcds:

  - count_cols_with_all_na
  - count_cols_with_any_na
  - count_rows_with_all_na
  - count_rows_with_any_na
  - count_total_na
  - count_unique_values
  - create_dt_col
  - create_dt_cols
  - display_all_col_head
  - dqr_cat
  - dqr_cont
  - get_cat_list
  - get_cont_list
  - list_unique_values
  - long_report
  - quick_report
  - rename_col
  - show_binary_list
  - show_catvar
  - show_convar
  - show_dupes
  - show_lowcardvars
  - show_shape

Use jcds.help("function_name") to see its documentation.

In [16]:
jcds.aws.help()

Available functions in jcds:

  - list_s3_bucket

Use jcds.help("function_name") to see its documentation.