In [1]:
import pandas as pd
import seaborn as sns

# import library
from jcds import eda as jeda

In [2]:
# import sebaorn's titanic dataset
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
jeda.quick_report(df)

============================================================
                  ⚠️  DEPRECATION WARNING
------------------------------------------------------------
`quick_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
============================================================

============================================
Quick Report - info(memory_usage='deep')
Total cols: 15
Rows missing all values: 0 (0.0%)
Total Rows: 891
Cols with missing values: 4 (26.67%)
Total missing values in dataset: 869
============================================

/tmp/ipykernel_84323/572483181.py:1: DeprecationWarning: `quick_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
  jeda.quick_report(df)

In [4]:
jeda.long_report(df)

============================================================
                  ⚠️  DEPRECATION WARNING
------------------------------------------------------------
`long_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
============================================================

============================================
Quick Report - info(memory_usage='deep')
Total cols: 15
Rows missing all values: 0 (0.0%)
Total Rows: 891
Cols with missing values: 4 (26.67%)
Total missing values in dataset: 869
============================================
Categorical features: 7
- sex: 2 unique values
- embarked: 4 unique values
- class: 3 unique values
- who: 3 unique values
- deck: 8 unique values
- embark_town: 4 unique values
- alive: 2 unique values
============================================
Continuous features: 8
- survived: 2 unique values
- pclass: 3 unique values
- age: 89 unique values
- sibsp: 7 unique values
- parch: 7 unique values
- fare: 248 unique values
- adult_male: 2 unique values
- alone: 2 unique values

/tmp/ipykernel_84323/777615861.py:1: DeprecationWarning: `long_report()` is deprecated and will be removed in v0.3.0. This will be replaced with a new function.
  jeda.long_report(df)