In [1]:
import pandas as pd
import seaborn as sns

# import library
from jcds import eda as jeda

In [2]:
# import sebaorn's titanic dataset
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
import jcds.aws as jaws

In [4]:
jaws.help()

Available functions in jcds:

  - list_s3_bucket

Use jcds.help("function_name") to see its documentation.

In [5]:
jaws.help("list_s3_bucket")

Help for 'list_s3_bucket':

List the contents (object keys) of a public Amazon S3 bucket using anonymous access.

Parameters
----------
bucket_name : str
    The name of the public S3 bucket to list contents from.

Returns
-------
None
    Prints the keys (filenames) of the objects found in the bucket.

Notes
-----
- This function uses anonymous (unsigned) access and works only with public buckets.
- Requires the `boto3` and `botocore` libraries.
- If the bucket is not public or an error occurs, an error message is printed.

In [6]:
import jcds

In [7]:
jcds.help()

Available functions in jcds:

  - count_cols_with_all_na
  - count_cols_with_any_na
  - count_rows_with_all_na
  - count_rows_with_any_na
  - count_total_na
  - count_unique_values
  - create_dt_col
  - create_dt_cols
  - display_all_col_head
  - dqr_cat
  - dqr_cont
  - get_cat_list
  - get_cont_list
  - list_s3_bucket
  - list_unique_values
  - load_csv
  - load_parquet
  - long_report
  - quick_report
  - read_s3
  - rename_col
  - save_csv
  - save_parquet
  - show_binary_list
  - show_catvar
  - show_convar
  - show_dupes
  - show_lowcardvars
  - show_shape

Use jcds.help("function_name") to see its documentation.

In [8]:
jcds.eda.help()

Available functions in jcds:

  - count_cols_with_all_na
  - count_cols_with_any_na
  - count_rows_with_all_na
  - count_rows_with_any_na
  - count_total_na
  - count_unique_values
  - create_dt_col
  - create_dt_cols
  - display_all_col_head
  - dqr_cat
  - dqr_cont
  - get_cat_list
  - get_cont_list
  - list_unique_values
  - long_report
  - quick_report
  - rename_col
  - show_binary_list
  - show_catvar
  - show_convar
  - show_dupes
  - show_lowcardvars
  - show_shape

Use jcds.help("function_name") to see its documentation.

In [9]:
jcds.eda.help("dqr_cat")

Help for 'dqr_cat':

Generate a data quality report for categorical features in a given DataFrame.

This function calculates and prints the following metrics for each feature in the provided list:
- Total count of non-missing values
- Total count of missing values
- Percentage of missing values
- Cardinality (number of unique values)
- Mode 1 (most frequent value), its frequency, and percentage
- Mode 2 (second most frequent value), its frequency, and percentage
- Descriptive statistics for each feature

Parameters
----------
dataframe : pandas.DataFrame
    The DataFrame containing the data to be analyzed.
list_of_features : list of str
    The list of column names (features) for which the data quality report is generated.

Returns
-------
None
    This function prints the data quality report to the console.